.contenedor{
	width:35%;
	margin:0 auto;
	border: 1px solid #000;
}

.contenedor h2{
	background-color: #00BFFF;
	color:#FFF;
	text-align: center;
	margin-top: 0px;
	font-family: "Arial Narrow";
}

.contenedor .correo{
	display: block;
	margin: 20px 15px;
}

.contenedor .botones{
	display: flex;
	flex-flow:row wrap;
	justify-content:space-between;
	margin:25px 15px;
}